<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                    <h5 class="brand-name"> My Ecom</h5>
                </div>
                <div class="col-md-5 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" placeholder="Search your product" class="form-control" />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end  ">
                        <li class="nav-item pe-auto">
                            <a class="nav-link" *ngIf="isLoggined() && userRole =='User'" 
                            routerLink="user/Allproducts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <i class="fa fa-shopping-cart"></i> Shop
                            </a>
                        </li>
                        <li class="nav-item pe-auto">
                            <a class="nav-link" routerLink="user/cart" *ngIf="userRole !='Seller'">
                                <i class="fa fa-shopping-cart"></i> Cart ({{cartCounter}})
                            </a>
                        </li>
                        <li class="nav-item pe-auto" *ngIf="!isLoggined()">
                            <a class="nav-link"  routerLink="seller/login" routerLinkActive="active">
                                <i class="fa fa-sign-in"></i> Become a Supplier
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="!isLoggined()">
                            <a class="nav-link" routerLink="user/login" routerLinkActive="active" >
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggined() && userRole =='Seller'" routerLink="seller/Myproducts">
                            <a class="nav-link"   routerLinkActive="active" >
                                <i class="fa fa-sign-in"></i> My Products
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggined() && userRole =='Seller'" routerLink="seller/create">
                            <a class="nav-link" routerLinkActive="active" >
                                <i class="fa fa-sign-in"></i> Create Product
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggined()" (click)="logout()">
                            <a class="nav-link">
                                <i class="fa fa-sign-in"></i> Logout
                            </a>
                        </li>
                        <li class="nav-item dropdown" *ngIf="isLoggined()">
                            <a  class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> {{username}} 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>

                          <!--   <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i> My Orders</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My Wishlist</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg"  *ngIf="isLoggedIn && userRole =='User'">
        <div class="container-fluid">
            <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                Funda Ecom
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user/shop">All Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Featured Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fashions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Appliances</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div> 


<!-- <div class="main-navbar shadow-sm sticky-top" *ngIf="role =='Seller'">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                    <h5 class="brand-name"> MyEcom - Supplier</h5>
                </div>
                <div class="col-md-5 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" placeholder="Search your product" class="form-control" />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end">
                        <li class="nav-item" *ngIf="!isLoggedIn">
                            <a class="nav-link" routerLink="user/login">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggedIn" (click)="logout()">
                            <a class="nav-link">
                                <i class="fa fa-sign-in"></i> Logout
                            </a>
                        </li>
                        <li class="nav-item dropdown" *ngIf="isLoggedIn" >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> {{username}} 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                Funda Ecom
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller/Myproducts">My Products</a>
                    </li>
                    <li class="nav-item" *ngIf="role =='Seller'">
                        <a class="nav-link" routerLink="seller/create" >Create New Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>  -->